/* GLOBALES */

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 6.25%;
  }
  
  body {
    font-size: 16rem;
    font-family: Arial;
    background-color: #f5f5f5;
  }
  
  section {
    padding: 35px 35px 80px
  }
  
  section > div {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  /* MAIN */
  
  .main {
    width: 62%;
    margin: auto;
    color: white;
  }
  
  .main h2 {
    font-size: 28rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
  }
  
  
  /* INICIO */
  
  .inicio {
    padding: 0px;
  }
  
  .inicio > div {
    position: relative;  
  }
  
  .inicio img {
    width: 100%;
  }
  
  .inicio .codigo{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 14%;
    left: 40%;
  }
  
  .inicio .minombre {
    background-color: rgba(114, 153, 254, 0.5);
    font-size: 24px;
    font-weight: 500;
    padding: 12px;
    position: absolute;
    top: 58%;
    right: 55%;
  }
  
  .inicio .minombre p {
    margin-bottom: 5px;
  } 
  
  /* SOBRE MI */
  
  .sobre-mi {
    background-color: #7299FE;
  }
  
  .sobre-mi h2 {
    color: #1D06A7;
  }
  
  .sobre-mi p {  
    font-size: 13rem;
    line-height: 20rem;
    text-align: justify;
  }
  
  .sobre-mi button {
    background-color: #D16FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    padding: 15px;
    border: 1px solid #a24cca;
    border-radius: 12px;
    margin-top: 25px;
  }
  
  /* MIS SKILLS */
  
  .mis-skills {
    background-color: #9022FF;
  }
  
  .mis-skills h2 {
    color: #26CC4B;
  }
  
  
  .mis-skills .skill {
    width: 48%;
  }
  
  .mis-skills .barra {
    background-color: white;
    width: 100%;
    height: 15px;  
    margin: 15px 0px;
    border-radius: 10px;
  }
  
  .mis-skills .barra div {
    background-color: turquoise;
    border-radius: inherit;
    width: 35%;
    height: 15px;  
  }
  
  /* PORTAFOLIO */
  
  .portafolio {
    background-color: #FFD233; 
  }
  
  .portafolio h2 {
    color: #00AD84;
  }
  
  .portafolio div {
    width: 75%;
    margin-bottom: 10px;
  }
  
  .portafolio figure {
    width: 100%;
  }
  
  .portafolio img {
    width: 95%;
  }
  
  /* CLIENTES */
  
  .clientes {
    background-color: #3F4E62;
  }
  
  .clientes h2 {
    color: #ADFF28;
  }
  
  .clientes div {
    align-items: center;
    width: 90%;
  }
  
  .clientes figure {
    width: 100%;
  }
  
  .clientes img {
    width: 95%;
  }
  
  /* CONTACTO */
  
  .contacto {
    background-color: #1687A0;
    padding-bottom: 40px;
  }
  
  .contacto h2 {
    color: #FF1B1B;
  }
  
  .contacto form {
    width: 100%;
  }
  
  .contacto div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .contacto input {
    width: 48.5%;
    padding: 20px;
  }
  
  .contacto textarea {
    height: 120px;
    width: 100%;
    padding: 10px;
  }
  
  .contacto button {
    background-color: #233451;
    color: white;
    width: 180px;
    padding: 12px;
    margin: auto;
    margin-top: 15px;
    border-style: none;
  }